@page "/courses";
@attribute [StreamRendering];

<PageTitle>Silicon | Courses</PageTitle>

<section class="courses">

    <div class="container">
        <CoursesPartial />
    </div>

</section>

@code {

}
