@page "/Error"

<PageTitle>Error</PageTitle>

<section class="not-found">
    <div class="container">
        <img src="/img/404.svg" alt="">
        <h1>Ooops!</h1>
        <p>The page you are looking for is not available.</p>
        <NavLink href="/" class="btn-theme-s">
            <i class="fa-regular fa-house"></i> Go to
            homepage
        </NavLink>
    </div>
</section>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
