@page "/Account/Login"

<PageTitle>sign in</PageTitle>

<section class="create-account">
    <div class="container">
        <div class="content">
            <h1>Welcome back</h1>
            <p>Don't have an account yet? <NavLink href="/SignUp">Sign up here.</NavLink></p>
            <SignInFormPartial />
            <div id="forgot"><NavLink href="/">Forgot your password?</NavLink></div>
            <hr />
            <div class="networks">
                <label>Or sign in with your social network</label>
                <div >
                    <ExternalLoginPicker />
                </div>
            </div>
        </div>
    </div>
</section>

@code{
   
}