@page "/Account/Register"
@rendermode InteractiveServer

<PageTitle>sign up</PageTitle>

<section class="create-account">
    <div class="container">
        <div class="content">
            <h1>Create account</h1>
            <p>Already have an account? <NavLink href="/Account/Login">Sign in here.</NavLink> </p>
            <SignUpFormPartial />
        </div>
    </div>
</section>