@page "/notifications"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]


<PageTitle>notifications</PageTitle>

<section id="notifications">
    <div class="container">
        <ProfileMenuPartial />
        <div class="form-title">
            <h2>Notifications</h2>
            <NotificationsFormPartial User="User" Form="Form"/> 
        </div>
    </div>
</section>

@code {

    [CascadingParameter]
    private HttpContext? Context { get; set; } = default!;

    [SupplyParameterFromForm(FormName = "form")]
    private SubscribeForm Form { get; set; } = new();

    private ApplicationUser? User;

    protected override async Task OnInitializedAsync()
    {
        User = await _userManager.GetUserAsync(Context!.User);
        if(User != null && User.Email != null)
            Form.Email = User.Email;
    }

}
