@page "/savedcourses"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<PageTitle>saved courses</PageTitle>

<section class="saved-courses">
    <div class="container">

        <ProfileMenuPartial />

        <AccountSavedCoursesPartial /> 
    </div>

</section>

@code {
    [CascadingParameter]
    private HttpContext? _context { get; set; } = default;
}






