

@if (!string.IsNullOrEmpty(StatusMsg))
{
    <div class="error">@StatusMsg</div>
}

<EditForm FormName="signupform" Model="SignUpForm" OnValidSubmit="OnValidSubmit" method="post" novalidate>
    <DataAnnotationsValidator />
    <div class="name">
        <div id="form-firstName" class="input-group">
            <label for="FirstName">First Name</label>
            <InputText @bind-Value="SignUpForm.FirstName" id="FirstName" placeholder="Enter your first name" />
            <ValidationMessage For="() => SignUpForm.FirstName" />
        </div>
        <div id="form-lastName" class="input-group">
            <label for="LastName">Last Name</label>
            <InputText id="LastName" @bind-Value="SignUpForm.LastName" placeholder="Enter your last name" />
            <ValidationMessage For="() => SignUpForm.LastName" />
        </div>
    </div>
    <div id="form-email" class="input-group">
        <label for="Email">Email address</label>
        <InputText type="email" id="Email" @bind-Value="SignUpForm.Email" placeholder="Enter your email address" />
        <ValidationMessage For="() => SignUpForm.Email" />
    </div>
    <div id="form-password" class="input-group">
        <label for="Form.Password">Password</label>
        <InputText type="password" @bind-Value="SignUpForm.Password" id="Password" placeholder="Enter your password" />
        <ValidationMessage For="() => SignUpForm.Password" />
    </div>
    <div id="form-confirm" class="input-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <InputText type="password" @bind-Value="SignUpForm.ConfirmPassword" id="ConfirmPassword" placeholder="Confirm password" />
        <ValidationMessage For="() => SignUpForm.ConfirmPassword" />
    </div>
    <div id="form-terms" class="checkbox-group">
        <div class="checkbox">
            <InputCheckbox id="Terms" @bind-Value="SignUpForm.Terms" />
            <ValidationMessage For="() => SignUpForm.Terms" />
            <label for="Terms">I agree to the <NavLink href="/"> Terms</NavLink> & <NavLink href="/"> Conditions</NavLink></label>    
        </div>
    </div>
    <button type="submit" class="btn-theme">Sign Up</button>
</EditForm>

@code {
    [SupplyParameterFromQuery]
    public string? StatusMsg { get; set; }

    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    private SignUpFormModel SignUpForm { get; set; } = new();

    public async Task OnValidSubmit(EditContext editContext)
    {
        var user = new ApplicationUser
            {
                FirstName = SignUpForm.FirstName,
                LastName = SignUpForm.LastName,
                Email = SignUpForm.Email,
                UserName = SignUpForm.Email,
                EmailConfirmed = true //ändra senare
            };

        try
        {
            var result = await _userManager.CreateAsync(user, SignUpForm.Password);
            if (!result.Succeeded)
            {
                StatusMsg = "Unable to register account. Please try again later...";
                return;
            }
        }
        catch (Exception e)
        {
            Debug.WriteLine("Error: {0}", e.Message);
            StatusMsg = "An error occurred while creating the account.";
            return;
        }
      

        // await client.PostAsJsonAsync("Be Martin om Urlen till hans VerifyProvidergrej..!", SignUpForm);
        // if (_userManager.Options.SignIn.RequireConfirmedAccount)
        // {
        //     _redirectManager.RedirectTo("Account/RegisterConfirmation", new() { ["email"] = SignUpForm.Email, ["returnUrl"] = ReturnUrl });
        // }

        // await _signInManager.SignInAsync(user, isPersistent: false);
        // _redirectManager.RedirectTo(ReturnUrl);
    }
}