@page "/Account/Manage"
@using Sillicon_BlazorApp_IA.Services

<PageTitle>details</PageTitle>

<div class="account-details">
    <div class="container">
        <ProfileMenuPartial />
        <BasicInfoFormPartial BasicFormModel="BasicFormModel" User="User" />
        <div class="address">
            <h5>Address Info</h5>
            <div class="adress">
                <AddressInfoFormPartial />
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private ApplicationUser User { get; set; } = null!;

    [SupplyParameterFromForm(FormName = "basicmodelform")]
    private BasicInfoFormModel BasicFormModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if(HttpContext != null)
        {
            var user = await _userManager.GetUserAsync(HttpContext.User);
            if (user != null)
            {
                User = user;

                if (User != null)
                {
                    BasicFormModel.FirstName = User.FirstName;
                    BasicFormModel.LastName = User.LastName;
                    BasicFormModel.Email = User.Email ?? "";
                    BasicFormModel.Phone = User.PhoneNumber ?? "";
                    BasicFormModel.Bio = User.Biography;
                }
            }
        }
    }
}
