@page "/Account/Manage"
@using Sillicon_BlazorApp_IA.Services

<PageTitle>details</PageTitle>

<div class="account-details">
    <div class="container">
        <ProfileMenuPartial />
        <BasicInfoFormPartial BasicFormModel="BasicFormModel" User="User"/>
        <div class="address">
            <h5>Address Info</h5>
            <div class="adress">
                <AddressInfoFormPartial AddressForm="AddressForm" User="User"/>
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    // private AddressModel Address { get; set; } = null!;

    private ApplicationUser User { get; set; } = null!;

    [SupplyParameterFromForm(FormName = "basicmodelform")]
    private BasicInfoFormModel BasicFormModel { get; set; } = new();

    [SupplyParameterFromForm(FormName = "addressform")]
    private AddressFormModel AddressForm { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext != null)
        {
            var user = await _userManager.GetUserAsync(HttpContext.User);
            if (user != null)
            {
                User = user;                                                                                                                                                                                                   
               
                BasicFormModel.FirstName = user.FirstName;
                BasicFormModel.LastName = user.LastName;
                BasicFormModel.Email = user.Email ?? "";
                BasicFormModel.Phone = user.PhoneNumber ?? "";
                BasicFormModel.Bio = user.Biography;
            }
        }
    }
}
