@page "/messages"
@attribute [Authorize]

@using Sillicon_BlazorApp_IA.Client.Components.BlazorChat

<section id="message-page">
    <div class="container">
        <MenuPartial User="UserClient" />
        <div class="chat">            
            @* <ChatPartial /> *@
                @* <Sillicon_BlazorApp_IA.Client.Components.BlazorChat.ChatRoom /> *@
                
              
        </div>
    </div>
</section>

@code {

    [CascadingParameter]
    private HttpContext? Context { get; set; } = default!;
    private ClientUserModel UserClient { get; set; } = new();
    private ApplicationUser? User { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if(Context != null)
        {
            User = await _userManager.GetUserAsync(Context.User);
            if (User != null)
            {
                AutoMapper.MapClientUser(UserClient, User);
            }
        }
    }
}