@rendermode InteractiveServer

<header>
    <div class="container">

        <NavLink id="logo" href="/"><img src="/img/logo-light.svg" alt="Silicon logo"></NavLink>        
        
        @* <HeaderNav IsDarkMode="IsDarkMode" /> *@
        <HeaderNav />


        @* <MobileMenuButton /> *@
        <button class="btn btn-mobile" id="btn-mobile" aria-expanded="false" @onclick="ToggleMenu">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div id="mobile-menu" @attributes="GetMenuAttributes()">
            <HeaderNav />
        </div>

    </div>

</header>

@code {


    //------------------------------------------------------------------
    private bool isOpen { get; set; } = false;

    private void ToggleMenu()
    {
        isOpen = !isOpen;
    }

    private Dictionary<string, object> GetMenuAttributes()
    {
        var attributes = new Dictionary<String, Object>();
        attributes["aria-expanded"] = isOpen.ToString().ToLower();
        return attributes;
    } 
}
