@inherits LayoutComponentBase

@attribute [StreamRendering]

<div id="wrapper" class="@(navigationManager.ToBaseRelativePath(navigationManager.Uri) == "courses" ? "wrapper" : navigationManager.ToBaseRelativePath(navigationManager.Uri) == "coursesdetails" ? "wrapper" : "auth-wrap") @Theme">
    <Header />

    @* this conditional statement renders breadcrumbs only if not on first page ("") *@
    @if (navigationManager.ToBaseRelativePath(navigationManager.Uri) == "courses")
    {
        <Breadcrumbs />
    }
    <main>
        @* <div class="Theme"> *@
            @Body
        @* </div> *@
    </main>

    <Footer />

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string? Theme { get; set; }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await JSRuntime.InvokeVoidAsync("setBodyClass", themeService.Theme);
    //     }
    // }

    protected override void OnInitialized()
    {
        themeService.OnChange += HandleStateChange;
    }

    private async void HandleStateChange(string newState)
    {
        // Theme = newState;
        await InvokeAsync(StateHasChanged);

    }


    public void Dispose()
    {
        themeService.OnChange -= HandleStateChange;
    }
}

