@inherits LayoutComponentBase

<div id="wrapper" class="@(navigationManager.ToBaseRelativePath(navigationManager.Uri) == "courses" ? "wrapper" : navigationManager.ToBaseRelativePath(navigationManager.Uri) == "coursesdetails" ? "wrapper" : "auth-wrap") @(_preferences.IsDarkMode ? "dark" : "light")">

    @* <Header IsDarkMode="IsDarkMode" /> *@
    <Header />

    @* this conditional statement renders breadcrumbs only if not on first page ("") *@
    @if (navigationManager.ToBaseRelativePath(navigationManager.Uri) == "courses")
    {
        <Breadcrumbs />
    }
    <main>
        @Body
    </main>

    <Footer />

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

