@inherits LayoutComponentBase

<div id="wrapper" class="@(navigationManager.ToBaseRelativePath(navigationManager.Uri) == "courses" ? "wrapper" : navigationManager.ToBaseRelativePath(navigationManager.Uri) == "coursesdetails" ? "wrapper" : "auth-wrap") @(_preferences.IsDarkMode ? "dark" : "light")">

    @* <Header IsDarkMode="IsDarkMode" /> *@
    <Header />

    @* this conditional statement renders breadcrumbs only if not on first page ("") *@
    @if (navigationManager.ToBaseRelativePath(navigationManager.Uri) == "courses")
    {
        <Breadcrumbs />
    }
        
    <Footer />

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    public Preferences _preferences { get; set; } = new();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            siteSettings.OnChange += SiteSettingsOnChange;
            _preferences = await siteSettings.GetPreferences();
            
            StateHasChanged();
        }
    }

    private void SiteSettingsOnChange(Preferences newPreferences)
    {
        _preferences = newPreferences;
        StateHasChanged();
    }

    public void Dispose()
    {
        siteSettings.OnChange -= SiteSettingsOnChange;
    }
}