#confirmation {
    height: 100%;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            max-width: 600px;
            width: 100%;

            .btn-gray {
                padding: 2px 10px;
                font-size:12px;
                display:inline;
                margin-left:10px;
            }
        }
    }
}
